<div class="flex bg-[url('/hero.jpg')] bg-cover bg-bottom py-2 min-h-[7vh] my-6">
  <div class="flex flex items-center flex-col md:flex-row mx-auto text-center">
    <h1 class="text-2xl font-bold leading-6 mx-12 text-white">When computers sleeps,<br>they dream.</h1>
    <a class="bg-primary hover:bg-primary-hover text-white rounded-md my-2 mx-auto py-2 px-6 mx-2 text-xl font-semibold" href="#Contact">Contact Us</a>
  </div>
</div>
