---
import Map from './Map.astro'
import {IoLogoFacebook, IoMailOutline, IoLogoWhatsapp, IoLocationSharp} from 'react-icons/io5/index.js'
---
<div class="flex flex-col-reverse md:flex-row justify-around max-w-3xl bg-red-200 mx-auto py-10 px-4">
  <Map/>
  <div class="p-4">
    <h1 class="text-2xl font-bold">Infinity Frequencies</h1>
    <p>Infinity Frequencies is a vaporwave artist. He is known for his series of works from Dream Recovery onward, which are notable for being some of the earliest releases in the "broken transmission" style, as well as creating the associated "computer gaze" vaporwave subgenre.</p>
    <a href="https://www.google.com/maps?ll=37.334644,-122.008972&z=16&t=m&hl=es-ES&gl=US&mapclient=embed&cid=4255201883087866096" class="flex items-center"><IoLocationSharp className="mr-1"/>Apple Park, California</a>
    <h1 class="text-2xl font-bold pt-2">Social Network</h1>
    <!-- Links -->
    <a href="https://web.facebook.com/InfinityFrequencies" class="flex items-center" target="_blank"><IoLogoFacebook className="mr-1" />InfinityFrequencies</a>
    <a id="mail" href="" class="flex items-center" target="_blank"><IoMailOutline className="mr-1"/>infinity<span class="hidden">anti-bot-bit</span>@frequencies.com</a>
    <a href="https://wa.me" class="flex items-center" target="_blank"><IoLogoWhatsapp className="mr-1"/>56 9 1234 5678</a>
  </div>
</div>

<!-- 
  To avoid any type of spam that could bring the mailto:email in the public code,
  use the encode of (https://www.base64encode.org/) and leave the result below,'
  Javascript will take care of decoding the mail and leave it as it should be.
 -->
<script>
  var encEmail = "aW5maW5pdHlAZnJlcXVlbmNpZXMuY29t";
  const form = document.getElementById("mail");
  form.setAttribute("href", "mailto:".concat(atob(encEmail)));
</script>
