---
const img = '/hero.jpg'
---
  
<header class="w-full h-screen md:h-[50vh] bg-[url('/hero.jpg')] md:bg-[url('/hero.jpg')] bg-cover flex justify-center items-center bg-center">
  <div class="flex flex-col justify-center items-center">
    <h1 class=" text-center text-5xl text-white font-bold drop-shadow-lg">Infinity Frequencies</h1>
    <p class="mt-5 text-center text-lg text-gray">When computers sleep, they dream.</p>
    <a class="mt-8 px-12 py-3 bg-primary hover:bg-primary-hover text-xl text-white font-semibold drop-shadow-lg rounded-full" href="#Contacto">Contact Us</a>
  </div>
</header>
