---
const linkclass = 'hover: hover:font-bold'
---

<div class="flex flex-col md:flex-row space-x-2 px-3 hidden lg:inline text-lg">
  <a class={linkclass} href="#Inicio">Inicio</a>
  <a class={linkclass} href="#Servicios">Servicios</a>
  <a class={linkclass} href="#Sobre">Sobre Nosotros</a>
  <a class={linkclass} href="#Contacto">Contacto</a>
</div>