<div
  class="h-full w-full border border-red-700 rounded-md my-auto"
>
  <div id="google-maps-canvas" class=" md:w-96 h-96 w-full ">
    <iframe
      class="h-full w-full rounded-md"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?q=Apple+Park,+Apple+Park+Way,+Cupertino,+California,+EE.+UU.&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
    ></iframe>
  </div>
</div>
