---
import { IoLogoWhatsapp } from 'react-icons/io5/index.js'

---
<a 
  href="https://wa.me"
  class="fixed bottom-0 right-0 text-white z-50 bg-whatsapp rounded-full m-2"
  target="_blank"
  aria-label="WhatsApp Button">
  <IoLogoWhatsapp className="p-2 w-12 h-12"/>
</a>